.Standardbox1{
    width: 1567px;
    height: 888px;
    background-size: 1567px 888px;
}
.The-light-of-matter{
    height: 8330px;
    width: 1567px;
    margin: 0 auto;
}
.Cardbox{
    width: 1355px;
    height: 528px;
    margin: 0 auto;
}
.Main{
    width: 327px;
    height: 246px;
    float: left;
    background-size: 327px;
    height: 246px;
}